* {
    box-sizing: border-box;
    margin: 0 auto;
}

@font-face {
    font-family: GothamBold;
    src: url("../static/fonts/Gotham\ Bold.otf") format("opentype");
}

body {
    background-color: #F3F3F3;
    font-family: GothamBold, sans-serif;
}

header {
}

.main-picture {
    background-image: url("/static/images/main-slider-01.jpg");
    background-size: cover;
    height: 100vh;

    @media screen and (max-width: 768px) {
        background-image: url("/static/images/4.jpeg");
        background-repeat: no-repeat;
        background-position: 100px 5px; 
    }
}

.container-menu {
    align-items: center;
    display: flex;
    flex-direction: inherit;
    height: 100px;
    width: 100%;

    .img-logo {
        background-image: url("/static/images/logo.svg");
        width: 200px;
        height: 30px;
        background-repeat: no-repeat;

    }

    .menu-main {
        display: flex;

    }

    ul {
        list-style-type: none;
        margin-bottom: 0;

        li {
            color: white;
            font-size: 13px;
            margin: auto 20px;
        }
    }

    .nav-menu-main {
        @media screen and (max-width: 768px) {
            display:none;
        }
    }

}

.header-shadow {
    height:300px;
    -moz-box-shadow: inset 0px 100px 100px -100px #000;
    -webkit-box-shadow: inset 0px 100px 100px -100px #000;
    -o-box-shadow: inset 0px 100px 100px -100x #000;
    box-shadow: inset 0px 130px 115px -90px #000;
}


